[submodule "Plugins/RZCameraManagerPlugin"]
	path = Plugins/RZCameraManagerPlugin
	url = https://github.com/remzdnb/RZCameraManagerPlugin.git
[submodule "Plugins/RZAnimInstancePlugin"]
	path = Plugins/RZAnimInstancePlugin
	url = https://github.com/remzdnb/RZAnimInstancePlugin.git
